<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Usuario</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Usuarios</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <iboxindex #ibox>
            <div class="custom-ibox-tools">
              <a [routerLink]="['/seguridad/user-create']">
                <i class="fa fa-plus"></i>
              </a>
              <a class="filter" (click)="ibox.colapseFilter($event)">
                <i class="fa fa-filter"></i>
              </a>
              <a class="close-link" (click)="close($event)">
                <i class="fa fa-refresh"></i>
              </a>
            </div>
          </iboxindex>
        </div>
        <div class="ibox-content">
          <div id="user-filter" class="form-filter">
            <form id="filterForm" autocomplete="off">
              <div class="row">
                <div class="form-group col-md-12">
                  <label class="control-label col-md-1">Username</label>
                  <div class="col-md-8">                  
                    <input class="form-control" id="filter-username" placeholder="Username"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-12">
                  <div class="pull-right">
                    <button type="button" class="btn btn-link clear-form">Clean</button>
                    <button type="button" class="btn btn-primary filter-dataTable">Filter</button>
                  </div>
                </div>
              </div>
            </form>
            <div class="hr-line-dashed"></div>
          </div>
          <div class="row">
            <div class="col-xs-2">
              <label class="label-control">Filas por p&aacute;gina</label>
              <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                <option [ngValue]="2">2</option>
                <option [ngValue]="5">5</option>
                <option [ngValue]="10">10</option>
                <option [ngValue]="15">15</option>
              </select>
            </div>
            <div class="col-xs-4">
              <div class="row">
                <label class="col-xs-12 label-control">Ordenar por</label>
              </div>
              <div class="col-xs-6">
                <div class="row">
                  <select class="form-control input-sm" [(ngModel)]="sortBy">
                    <option ngValue="user_id">ID</option>
                    <option ngValue="username">Username</option>
                    <option ngValue="email">Email</option>
                    <option ngValue="firstname">Firstname</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-6">
                <div class="row">
                  <select class="form-control input-sm" [(ngModel)]="sortOrder">
                    <option ngValue="asc">Ascendiente</option>
                    <option ngValue="desc">Descendiente</option>
                    <option ngValue="badValue">Bad value</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-striped" [mfData]="data" #mf="mfDataTable"
                  [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" cellspacing="0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Firstname</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mf.data">
                <td>{{item.user_id}}</td>
                <td>{{item.username}}</td>
                <td>{{item.email}}</td>
                <td>{{item.firstname}}</td>
                <td>
                    <div class="dropdown pull-right" dropdown >
                        <button class="btn btn-primary btn-xs" dropdown-open>
                            Quiero 
                            <span class="caret"></span>                            
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li>
                                <a (click)="modal.show(); selectUser(item.username)">Restaurar contraseña</a>
                            </li>
                        </ul>
                    </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5">
                  <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal #modal>
  <div class="app-modal-header">
    <button type="button" class="close" (click)="modal.hide(); unselectUser()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="RestablecerContrasenaLablel">Restablecer contrase&ntilde;a</h4>
  </div>
  <div class="app-modal-body">
    <div class="form-horizontal">
      <reset-password #reset></reset-password>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default" (click)="modal.hide(); unselectUser()">Close</button>
    <button type="button" class="btn btn-primary" (click)="reset.onSubmit(userSelected)">Save changes</button>
  </div>
</app-modal>